@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
}

body > .wrap {
  margin: auto;
}
/* CSS */
// Block
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  padding: 6px 24px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 120px;
  transition: opacity 0.2 ease-in-out;
  will-change: opacity;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  & + & {
    margin-left: 16px;
  }

  //Modifier
  &.-success {
    background-color: #71be34;
  }
  &.-normal {
    background-color: #ffb702;
  }
  &.-danger {
    background-color: #ff623d;
  }
  &.-disable {
    opacity: 0.5;
    cursor: default;
  }

  &.-size-s {
    padding: 6px 24px;
  }
  &.-size-l {
    padding: 12px 48px;
  }
  &.-size-xl {
    padding: 18px 72px;
  }
}
